@tailwind base;
@tailwind components;
@tailwind utilities;

/.mi-imagen {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 100%;
  height: auto;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}